*{
    
    margin: 0;
    box-sizing: border-box;
}
img{
    vertical-align: top;
}

body{
  
    background-color: gold;
}

#wrapper{
    margin: 0 10%;
}

header h2{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

header img{
    width: 100%;
    height: auto;
   
}
.tablette{
    display: none;
}


main{
    background-color:white;
    display: inline-flex;
    justify-content: space-between;
    padding: 2%;
    width: 100%;
}
nav{
    background-color: cornflowerblue;
    width: 15%;
    height: 200px;
    text-align: center;
    padding: 2em 2em;
}
ul{
    color: white;
    padding: 0;
    
}
li{
    list-style: none;
    padding-top: 0.3em;
}
a{
    
    color: white;
}
button a{
    color: black;
}
article{
   
    width: 58%;
}
article h1{
    color: gold;
    padding: 1em 0;
}
article p{
    text-align: justify;
}
section{
    display: flex;
    justify-content: space-between;
}

aside{
    background-color: cornflowerblue;
    width: 25%;
    text-align: center;
 

}
aside img{
    
    width: 80%;
    border: 1px solid white;
}
aside figure{
    padding: 5% 5%;
}
aside figcaption{
    color: white;
    text-align: justify;
}
aside h3{
    text-align: center;
    padding: 1em;
}

footer{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
}

@media only screen and (max-width : 500px){
   #wrapper{
       width: 100%;
       margin: 0;
   }

   main{
       display: flex;
       flex-direction: column;
   }
   nav, article, aside{
       width: 100%;
   }
   nav{
       height: 10%;
   }

}
  @media screen and (min-width:501px) and (max-width:1180px){
    
    #wrapper{
        margin: 0 2em;
        height: 100%;
    }

    .desktop{
        display: none;
    }
    .tablette{
        display: block;
    }

   main{
       display: inline-flex;
       flex-direction: column;
   }

   nav{
       width: 100%;
       height: fit-content;
   }
   ul{
       display: flex;
       justify-content: space-between;
   }
 

   article{
       width: 100%;
       padding-bottom: 2%;
   }

   aside{
       width: 100%;
   }
   aside figure{
       display: inline-flex;
   }
   aside img{
       width: 33%;
       justify-content: left;
   }
   aside figcaption{
       text-align: justify;
       padding-left: 2%;
   }

  }